.quasar
.DS_Store
.thumbs.db
node_modules
/packages/**/dist
/packages/**/lib
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/docs/.vuepress/dist
/temp

# Editor directories and files
.idea
# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
private.pem
public.pem
secret.key
backup
.bit

# Tsc
*.tsbuildinfo

# Lerna
lerna-debug.log*
